* {
    margin: 0;
    padding: 0;
    border: 0;
}


body {
    display: grid;
}

.header{
    background-color: red;
    height: 20vh;
}
.main{
    background-color: cyan;
    height: 60vh;
}
.footer{
    background-color: darkolivegreen;
    height: 20vh;
}